In [1]:
import pandas as pd
import pickle

In [2]:
dms = pickle.load(open("../data/Sentiment_Market_Pharma/daily_market_sentiment.pickle", "rb"))

In [40]:
!pwd

/home/djtom/DEV/bse/bse/Thesis/src

In [3]:
ec10=pickle.load(open("../data/Sentiment_Market_Pharma/earnings_call_top10_ph.pickle", "rb"))
ec10

,symbol,quarter,year,date,content
0,PFE,4,2007,2008-01-24,"Operator: Amal Naj, Head of Development. Pleas..."
0,PFE,3,2007,2007-10-18,"Operator: Mr. Amal Naj, Senior VicePresident o..."
0,PFE,2,2007,2007-07-18,"Operator: Amal Naj, Head of Investor Relations..."
0,PFE,4,2008,2009-01-28,Operator: Good morning ladies and gentlemen an...
0,PFE,1,2008,2008-04-17,"Operator: Now we have Amal Naj, Head of Invest..."
...,...,...,...,...,...
0,MRK,4,2020,2021-02-04,"Operator: Good morning. My name is Lara, and I..."
0,MRK,1,2021,2021-04-29,"Operator: Good morning. My name is Lara, and I..."
0,MRK,2,2021,2021-07-29,Operator: Good morning. My name is Mary Serran...
0,MRK,3,2021,2021-10-28,Operator: Good morning. My name is Grace Lakra...
0,MRK,4,2021,2022-02-03,Operator: Good morning. My name is Grace Lakra...

In [15]:
ec10.year.max()

2021

In [6]:
ec10.symbol.value_counts()

MRK     62
PFE     59
BMY     59
JNJ     59
LLY     58
NVS     51
AZN     48
NVO     42
ROG     41
ABBV    36
Name: symbol, dtype: int64

In [13]:
mt10.date

Timestamp('2022-07-19 00:00:00')

In [11]:
mt10=pickle.load(open("../data/Sentiment_Market_Pharma/main_top10_ph.pickle", "rb"))
mt10

     ticker       date       close     volume
1394   ABBV 2017-01-03   62.410000  9328200.0
1393   ABBV 2017-01-04   63.290001  8674800.0
1392   ABBV 2017-01-05   63.770001  5359400.0
1391   ABBV 2017-01-06   63.790001  4722300.0
1390   ABBV 2017-01-09   64.209999  8794500.0
...     ...        ...         ...        ...
4       ROG 2022-07-13  261.930000    74979.0
3       ROG 2022-07-14  263.290000    90034.0
2       ROG 2022-07-15  264.000000   130208.0
1       ROG 2022-07-18  263.530000   111222.0
0       ROG 2022-07-19  266.010000   118708.0

[13950 rows x 4 columns]

In [8]:
dailyms=pickle.load(open("../data/Sentiment_Market_Pharma/daily_market_sentiment.pickle", "rb"))
dailyms

          date  Negative  Neutral  Positive
0   2018-02-26       0.0      1.0       0.0
0   2021-03-19      31.0     35.0      32.0
1   2021-03-18      43.0     43.0      34.0
2   2021-03-17      34.0     67.0      44.0
3   2021-03-16      44.0     55.0      36.0
..         ...       ...      ...       ...
44  2022-01-12      42.0     52.0      45.0
45  2022-01-11      39.0     60.0      31.0
46  2022-01-10      67.0     58.0      35.0
47  2022-01-09       6.0     16.0       1.0
48  2022-01-08       5.0      4.0       0.0

[1146 rows x 4 columns]

In [17]:
metadata=pickle.load(open("../data/Sentiment_Market_Pharma/press_release_top10_ph.pickle", "rb"))

In [32]:
mdf=pd.DataFrame(metadata)

In [42]:
mdf.title[0]

0    PFIZER NAMES DAVID M. DENTON CHIEF FINANCIAL O...
0         PFIZER DECLARES SECOND-QUARTER 2021 DIVIDEND
0    PFIZER SAYS TRIAL OF IBRANCE IN BREAST CANCER ...
0        NOVO NORDISK A/S – SHARE REPURCHASE PROGRAMME
0        NOVO NORDISK A/S – SHARE REPURCHASE PROGRAMME
0    NEOADJUVANT OPDIVO (NIVOLUMAB) WITH CHEMOTHERA...
0    U.S. FOOD AND DRUG ADMINISTRATION APPROVES BRI...
0    BRISTOL-MYERS TRIAL TO TREAT ANEMIA IN RARE BL...
0    JOHNSON & JOHNSON TO PARTICIPATE IN THE BOFA S...
0    CILAG HOLDING ANNOUNCES PROPOSED OFFERING OF U...
0    ROGERS' SHAREHOLDERS APPROVE ACQUISITION BY DU...
0    HARBOUR BIOMED ANNOUNCES GLOBAL OUT-LICENSE AG...
0                        ASTRAZENECA SHAREHOLDER ALERT
0    FDA APPROVES NOVARTIS VIJOICE® (ALPELISIB) AS ...
0    LILLY'S LEBRIKIZUMAB COMBINED WITH TOPICAL COR...
0    LILLY COLLABORATES INTERNATIONALLY WITH LEADIN...
0    SHANGHAI JUNSHI BIOSCIENCES ENTERS AGREEMENT W...
0    INVESTOR ALERT: LAW OFFICES OF HOWARD G. SMITH...
0    NEW DATA SHOWS ABBVIE'S VENCLYXTO®/VENCLEXTA® ...
0    ABBVIE INC. PRESENTS AT SOUTHEAST BIO INVESTOR...
0    MERCK ANNOUNCES U.S. FDA HAS GRANTED BREAKTHRO...
0    VERQUVO® (VERICIGUAT) APPROVED IN THE EUROPEAN...
0    FDA GRANTS PRIORITY REVIEW TO MERCK'S NEW DRUG...
Name: title, dtype: object